/*------------------------------gestioneutenti.html------------------------*/
#addutente{
font-family: monaco;
color:#646464;
}



/*------------------------------dettaglio.html/box embedeed con carrot------------------------*/
#carrot {
	padding-left: 19px;
}

#span_carrot_plus {
	margin-top: 20px;
}

#span_link_plus {
	margin-top: 20px;
}
/*------------------------------------login.html---------------------------------------------*/
#errore-pwd{
	display:none;
	color:red;
	background: -webkit-gradient(linear, right top, left bottom, from(#ff8182), to(white));
	background: -moz-linear-gradient(100% 100% 180deg, #ff8182, white);

}

#errore-pwd-in{
	display:none;
	color:red;
	background: -webkit-gradient(linear, right top, left bottom, from(#ff8182), to(white));
	background: -moz-linear-gradient(100% 100% 180deg, #ff8182, white);

}

#form{
display:none;
}

#send{
margin-left: 18%;}

/*-----------------------------------register.html--------------------------------------------*/
#register-box{
width:50%;
}


.errore{
	color:#706d73;
	text-align:left;
	padding-left:4.5%;
	background: -webkit-gradient(linear, right top, left bottom, from(#ff8182), to(white));
	background: -moz-linear-gradient(100% 100% 180deg, #ff8182, white);
	font-family:monaco;
	font-size:12px;
}

#errore-username, #errore-password, #errore-confirm, #errore-nome, #errore-cognome, #errore-citta, #errore-general{
display:none;}
