/*------------------------------------gestione_utenti.html------------------*/
#addutente{
font-family: monaco;
color:#646464;
}

#g_utenti{
display:none;
}

#g_sorgenti{
	display:none;
}



.fonti_sel{
	
	display:table-caption;
	width:auto;
	height:auto;
	/*margin-top:10%;
	*/padding:0.3%;
	
	
	transform:rotate(-70deg);
	-ms-transform:rotate(-70deg); /* IE 9 */
	-moz-transform:rotate(-70deg); /* Firefox */
	-webkit-transform:rotate(-70deg); /* Safari and Chrome*/ 
	-o-transform:rotate(-70deg); /* Opera */
	
}



.input{
	position:relative;
	padding:3%; 
	left:10%;
	
}

#save{
	position:relative;
	left:85.3%;
}

.elem_fonte{
position:relative;
left:15%;}

.div_fonte{
border-bottom:solid;
border-width:1px;
border-color:#DDDDDD
}


.expand{
	display:none;
	position:absolute;
	left:45%;
}

.pagina{
position:relative;
left:5%;

}

.div_pagina{
position:relative;
left:5%;

border-bottom:solid;
border-width:1px;
border-color:#DDDDDD;

}

.pagine_nascoste{
display:none;

}

#annulla{
position:relative;

}

#Pincopallino{
display:none;
}


.input-reg{
	width:90%;
}

.button-reg-user{
	float:right;
}


#register-box{
width:50%;
}


.errore{
	color:#706d73;
	text-align:left;
	padding-left:4.5%;
	font-family:monaco;
	font-size:12px;
}


#errore-username, #errore-username-vuoto, #errore-confirm, #errore-nome, #errore-cognome, #errore-citta, #errore-general, #errore-data{
display: none;
background:-webkit-gradient(linear, right top, left bottom, from(white), to(#ff8182));
}

#errore-password{
background:-webkit-gradient(linear, right top, left bottom, from(white), to(#feed76));
}



#reg_tab{
	display: none;
}

.th-reg{
	width:70%;
}